# ender dragon death animation render method
public net.minecraft.client.renderer.entity.EnderDragonRenderer renderRays(Lcom/mojang/blaze3d/vertex/PoseStack;FLcom/mojang/blaze3d/vertex/VertexConsumer;)V
# tree worldgen helper function
public net.minecraft.data.worldgen.features.TreeFeatures createStraightBlobTree(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/block/Block;IIII)Lnet/minecraft/world/level/levelgen/feature/configurations/TreeConfiguration$TreeConfigurationBuilder;
# buffer builder to allow custom shaders to work
public com.mojang.blaze3d.vertex.BufferBuilder beginElement(Lcom/mojang/blaze3d/vertex/VertexFormatElement;)J
# gui graphics blit with custom atlas
public net.minecraft.client.gui.GuiGraphics blitSprite(Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;IIIII)V # blitSprite
# gui graphics constructor with custom pose
public net.minecraft.client.gui.GuiGraphics <init>(Lnet/minecraft/client/Minecraft;Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource$BufferSource;)V
# outline renderer for blocks, used for hammer 3x3 outline
public net.minecraft.client.renderer.LevelRenderer renderHitOutline(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;Lnet/minecraft/world/entity/Entity;DDDLnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)V
# block entity ticker helper
public net.minecraft.world.level.block.BaseEntityBlock createTickerHelper(Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityTicker;)Lnet/minecraft/world/level/block/entity/BlockEntityTicker;
